#laravel/
#├── db/                     # Initialization scripts (if any)
#│
#├── docker-compose.yml       # Main Docker Compose configuration
#│
#├── laravel-app/             # Laravel application source code
#│
#├── mysql-data/              # Persistent MySQL database data
#│
#├── nginx/                   # Nginx configuration files
#│   └── conf.d/
#│
#└── php/                     # PHP container setup
#    ├── Dockerfile
#    └── php.ini
# Only for development: fix container directory permissions
# sudo chmod 777 -R ./laravel
# In container directory (laravel) run console and execute commands:
# get container components: docker compose pull
# start container: docker compose up
# if you don't want to see logs: docker compose up -d
# to check if it works: docker ps
services:
  app:
    build:
      context: ./php
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./laravel-app:/var/www/html
    networks:
      - laravel
    depends_on:
      - mysql 
    #env_file: 
    #  - ./laravel-app/.env
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: marcinal
      DB_PASSWORD: User12345

  webserver:
    image: nginx:alpine
    container_name: laravel_webserver
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./laravel-app:/var/www/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: marcinal
      MYSQL_PASSWORD: User12345
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - ./mysql-data:/var/lib/mysql
    networks:
      - laravel

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel_phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: marcinal
      PMA_PASSWORD: User12345
    depends_on:
      - mysql
    networks:
      - laravel

volumes:
  mysql-data:

networks:
  laravel:
    driver: bridge
